body{
	margin: 0;
}
/*1 контент*/
	section:nth-of-type(1){
		text-align: center;
		width: 100%;
		max-width: 1780px;
	}
	section:nth-of-type(1) p{
		color: white;
		font-size: 18px;
		margin-top: 135px;
	}
	.div-img{
		text-align: center;
		margin-top: 150px;
	}
	.div-a{
		display: flex;
		justify-content: space-around;
		width: 100%;
		max-width: 610px;
		margin-top: 42px;
		margin-bottom: 42px;
		margin-left: 590px;
		font-size: 24px;
	}
	
	a{
		text-decoration: none;
		color: white;
		text-align: center;
	}
	hr{
		width: 1786px;
	}
	.position{
		display: flex;
		justify-content: center;
		width: 100%;
	}
/*1 контент*/
/*2 контент*/
	section:nth-of-type(2){
		margin-top: 70px;
		text-align: center;
		width: 100%;
		max-width: 1590px;
	}
	.div-a2{
		display: flex;
		justify-content: space-around;
		width: 100%;
		max-width: 610px;
		margin-top: 42px;
		margin-bottom: 42px;
		margin-left: 590px;
		font-size: 24px;
	}
	.div-a2 a{
		color: lightgrey;
	}
	.cont{
		display: flex;
		justify-content: space-between;
		width: 1590px;
		margin-top: 75px;
	}
	.cont-2{
		margin-top: 90px;
		width: 670px;
		height: 518px;
		margin-left: 54px;
		text-align: left;
	}
	.cont-2 h1{
		font-size: 60px;
	}
	.cont-2 p{

		font-size: 24px;
	}
	.cont img{
		width: 771px;
		height: 700px;
		margin-left: 97px;
	}
	.scroll{
		text-align: center;
		font-style: 18px;
		margin-top: 80px;
		margin-left: 200px;
		color: lightgrey;
	}
/*2 контент*/
/*3 контент*/
	section:nth-of-type(3){
		text-align: center;
	}
	.div-a3{
		display: flex;
		justify-content: space-around;
		width: 100%;
		max-width: 610px;
		margin-top: 84px;
		margin-bottom: 42px;
		margin-left: 590px;
		font-size: 24px;
	}
	.div-img{
		display: flex;
		justify-content: space-between;
		margin-left: 97px;
		margin-right: 97px;
	}
	section:nth-of-type(3) p{
		margin-top: 80px;
		color: white;
		font-size: 18px;
	}
/*3 контент*/
/*4 контент*/
	.info-cont{
		margin-top: 200px;
		text-align: center;
	}
	.info-cont p:nth-of-type(1){
		font-size: 30px;
	}
	.info-cont p:nth-of-type(2){
		font-size: 60px;
	}
	.info-cont p:nth-of-type(3){
		font-size: 30px;
	}
	.info-cont p:nth-of-type(4){
		font-size: 48px;
	}
	.info-cont p:nth-of-type(5){
		font-size: 30px;
	}
	.hr-footer{
		margin-top: 207px;
	}
	.p-footer{
		margin-top: 43px;
		margin-bottom: 43px;
		color: lightgrey;
		text-align: center;
	}
/*4 контент*/
/*FON*/
	.background{
		position: relative;
	}
	.background div{
		z-index: -1;
		width: 100%;
		position: absolute;
	}
	.background div:nth-of-type(1){
		top: 0;
		text-align: center;
		overflow: hidden;
	}
	.background div:nth-of-type(1) img{
		width: 1920px;
	}
	.background div:nth-of-type(2){
		height: 1080px;
		width: 1920px;
	}
	.background div:nth-of-type(3){
		text-align: center;
		top: 2160px;
		overflow: hidden;
	}
	.background div:nth-of-type(3) img{
		width: 1920px;
		
	}
	.background div:nth-of-type(4){
		width: 100%;
		height: 1080px;
	}
/*FON*/