body{
	display: flex;
	justify-content: center;
	margin: 0;
}
.div-start{
	display: flex;
	width: 1445px;
	height: 100vh;
	background-color: grey;
}
main{
	justify-content: left;
	width: 280px;
	height:100vh;
	background-color: black;
}
.div-right{
	
}
.h1-electro{
margin-left: 80px;
margin-top: 85px;
}

.div-text{
	
	justify-content: left;
	text-align: left;
}