body{
	display: flex;
	justify-content: center;
	margin: 0;
}

nav{
	width: 280px;
	height:200vh;
	background-color: black;
}
main{
	width: 1110px;
	height:200vh;
	background-color: white;
}
h1{
	margin: 0;
	font-size: 40px;
	font-family: sans-serif;
}
section{
	display: inline-block;
	font-size: 25px;
	font-family:sans-serif;
	margin-left: 15px;
}
p{
	margin: 5px;
	font-size: 18px;
	font-family: sans-serif;
	line-height: 1.5;
}
button{
	margin-top: 17px;
}

.start{
	display: flex;
	width: 1440px;
	height: 200vh;
	background-color: black;
}
.rollup{
	width: 100%;
	height: 80px;
}
.main-discription{
	display: flex;
	justify-content: space-around;
}
.main-discription div:first-of-type{
	
	margin-left: 80px;
	margin-right: 80px;
}
.main-discription div:last-of-type{
	
	margin-right: 100px;
	text-align: left;
	padding-left: 40px;
	padding-top: 15px;
}
input[type="text"], select{
	text-align: center;
	width: 325px;
	height: 50px; 
}
input[type="text"]{
	margin-top: 5px;
}
input[placeholder="Введите длину в метрах"]{
	margin-bottom: 20px;
}
input[type="submit"], button{
	height: 40px;
  	padding-left: 20px;
 	padding-right: 20px;
  	font-size: 20px;
 	background-color: white;
 	border-radius: 5px;
 	border:2px solid black;
}
.activeButton{
	background-color: #fab811 !important; 
	border: none !important;
	outline: none;
}
.imgJal{
	height: 385px;
	margin-top: 150px;
	margin-bottom: 35px;
}
.main-discription2{
	display: flex;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 15px;
	justify-content: space-between;
}
.main-discription2 div:first-of-type{
	width: 1000px;
	margin-right: 80px;
}
.main-discription2 div:last-of-type{
	display: flex;
	justify-content: space-between;
	width: 580px;
}
.hide{
	display: none;
}
.main-img{
	display: flex;
	justify-content: center;
	width: 100%;
}
.main-discription3{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.main-discription3 h1{
	transform: rotate(-90deg);
	margin-left: -70px;
}
.main-discription3 div{
	width: 400px;
	margin-right: 50px;
	margin-left: -185px;
}
.main-discription3 img{
	margin-right: 50px;
	height: 660px;
}
