body{
	margin: 0;
	position: relative;
	display: flex;
}
main{
	width: 1180px;
}
a{
	text-decoration: none;
}

.main-div1{
	position: absolute;
	display: flex;
	justify-content: space-between;
	width: 314px;	
	left: 370px;
	top: 17px;
}
.main-div1 a{
	color: black;
}
.main-p{
	position: absolute;
	left: 767px;
	color: #1B75BB;
}
.main-div2{
	position: absolute;	
	left: 1151px;
	top: 16px;
}
.main-div2 select{
	text-decoration-style: dashed;
}
.main-div3{
	position: absolute;
	width: 194px;
	height: 50px;
	left: 1356px;
	box-sizing: border-box;
	padding-left: 20px;
	padding-top: 17px;
	color: white;
	background-color: #024178;
}
.main-div3 a{
	color: white;
}
/* начало неизбежного фона*/
	.background div{
		z-index: -1;
	}
	.background div:not(.first-part):not(.second-part){
		width: 100%;
		position: absolute;
	}
	.background div:nth-of-type(1):not(.first-part):not(.second-part){
		height: 50px;
		background: #F0F4F8;
		top:0;
	}
	.background div:nth-of-type(2):not(.first-part):not(.second-part){
		height: 60px;
		background: #1B75BB;
		top: 160px;
	}
	.background div:nth-of-type(3){
		top: 220px;
		text-align: center;
		background-color: #002040
	}
	.background div:nth-of-type(3) img{
		width: 1920px;
		/**/
	}
	.background div:nth-of-type(4){
		top: 1898px;
		height: 337px;
		background-color: #013464;
	}
	.background div:nth-of-type(5){
		height: 798px;
		top: 3414px;
		background-color: #DCE0EC;
	}
	.background div:nth-of-type(6){
		height: 351px;
		top: 4964px;
		background-color: #013464;
	}
	.background div:nth-of-type(7){
		display: flex;
		height: 600px;
		top: 5943px;
		background-color: grey;
	}
	.first-part{
		width: 870px;
		background-color: #002040;
	}
	.second-part{
		width: 1050px;
		background-color: #F0F4F8;
	}
	.background div:nth-of-type(8){
		height: 367px;
		top: 6543px;
		background-color: #F0F4F8;
	}
	.background div:nth-of-type(9){
		height: 52px;
		top: 6858px;
		background-color: #DCE0EC;
	}
/*конец неизбежного фона*/