body{
	display: flex;
	justify-content: center;
	margin: 0;
}

header{
	position: absolute;
	width: 1920px;
	height: 50px;
	left: 0px;
	top: 0px;
	background: #F0F4F8;
}
header div:first-of-type{
	display: flex;
	justify-content: space-around;
	position: absolute;
	width: 314px;
	height: 16px;
	left: 370px;
	top: 17px;
}
header div:first-of-type a{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #212121;
}
.header-div{
	position: absolute;
	width: 175px;
	height: 19px;
	left: 1151px;
	top: 16px;
}

select{
	border:none;
 	outline: none;
}
header div:last-of-type{
	position: absolute;
	color: white;
	width: 194px;
	height: 50px;
	left: 1356px;
	top: 0px;
	background: #024178;
}
header div:last-of-type p{
	margin-left: 20px;
}
header div:last-of-type a{
	color: white;
}
.header-p{
	position: absolute;
	width: 302px;
	height: 16px;
	left: 770px;
	top: 5px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #1B75BB;
}
.main-discription1{
	position: absolute;
	width: 1920px;
	height: 110px;
	left: 0px;
	top: 50px;
}
.main-discription1 img:first-of-type{
 	position: absolute;
	width: 279px;
	height: 60px;
	left: 370px;
	top: 22px;
}
.main-discription1 div:first-of-type{
	position: absolute;
	width: 144px;
	height: 48px;
	left: 690px;
	top: 15px;
}
.main-discription1 div:first-of-type p{
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 15px;
}
.main-discription1 div:first-of-type p:first-of-type{
	color: #696969;
}
.main-discription1 select{
	position: absolute;
	width: 40px;
	height: 24px;
	left: 874px;
	top: 38px;
}
.main-discription1-div2{
	position: absolute;
	width: 150px;
	height: 44px;
	left: 1001px;
	top: 29px;
}
.main-discription1 div a:first-of-type{
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	color: #212121;
}
.main-discription1-div3{
	position: absolute;
	width: 150px;
	height: 41px;
	left: 1176px;
	top: 29px;
}
.main-discription1 div a:last-of-type{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #024178;
}
.main-discription1 div:last-of-type{
	position: absolute;
	width: 194px;
	height: 50px;
	left: 1356px;
	top: 27px;
	background: rgba(240, 244, 248, 0.3);
	border: 1px solid #EAEBEC;
	box-sizing: border-box;
	border-radius: 3px;
}
.main-discription1 div:last-of-type img{
	width: 22px;
	height: 19px;
	top: 15px;
	left: 20px;
}
.main-discription2{
	position: absolute;
	width: 1920px;
	height: 60px;
	left: 0px;
	top: 160px;
	background: #1B75BB;
}
.main-discription2 div:first-of-type{
	position: absolute;
	width: 212px;
	height: 60px;
	left: 370px;
	background: #024178;

}
.main-discription2 div:first-of-type p{
	position: absolute;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	left: 46px;
	top: 5px;
	color: #FFFFFF;
}
.main-discription2 div:first-of-type img{
	position: absolute;
	width: 16px;
	height: 16px;
	left: 20px;
	top: 22px;
}
.main-discription2 div:last-of-type{
	position: absolute;
	display: flex;
	justify-content: space-around;
	width: 573px;
	height: 19px;
	left: 606px;
	top: 20px;
}
.main-discription2 div:last-of-type a{
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
}
.main-discription3{
	position: absolute;
	width: 1920px;
	height: 650px;
	left: 0px;
	top: 220px;
}