body{
	display: flex;
	justify-content: center;
	margin: 0;
}
.background{
	position: absolute;
}
main{
	width: 100%;
	max-width: 1366px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
a{
	font-family: 'Lato Regular', sans-serif;
	font-size: 16px;
	color: #1A212F;
	line-height: 19px;
	text-decoration: none;
}
h1{
	font-family: 'Rubik Medium', sans-serif;
	font-size: 36px;
	line-height: 43px;
	margin: 0;
	margin-bottom: 70px;
	text-align: center;
}
h2{
	font-family: 'Rubik Normal', sans-serif;
	font-size: 22px;
	line-height: 140%;
}
p{
	font-family: 'Lato Regular', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 140%;
}
/*хедер*/
	header{
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 76px;
		width: 100%;
		max-width: 1170px;
	}
	header div{
		display: flex;
		justify-content: space-between;
		width: 405px;
	}
/*хедер*/
/*1 секция*/
	section:nth-of-type(1){
		display: flex;
		align-items: center;
		background-image: url(../resources/img/Cat.png);
		width: 100%;
		height: 504px;
	}
	section:nth-of-type(1) h1{
		font-family: 'Rubik Bold', sans-serif;
		font-size: 62px;
		margin-top: 15px;
		margin-bottom: 0;
	}
	section:nth-of-type(1) div{
		margin-left: 198px;
	}
	section:nth-of-type(1) button{
		display: flex;
		align-items: center;
		justify-content: space-around;
		font-size: 16px;
		font-family: 'Lato Regular', sans-serif;
		border: none;
		outline: none;
		border-radius: 25px;
		width: 206px;
		height: 50px;
		margin-top: 40px;
	}
/*1 секция*/
/*2 секция*/
	section:nth-of-type(2){
		height: 757px;
		margin-top: 140px;
	}
	.sect-div2{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	.sect-div2 div{
		width: 370px;
		height: 321px;
		box-shadow: 0px 0px 1px;
		border-radius: 8px;
		padding-left: 30px;
		padding-top: 30px;
		padding-right: 30px;
		box-sizing: border-box;
		margin-bottom: 20px;
	}
	.sect-div2>div{
		margin-right: 15px;
		margin-left: 15px;
	}
	.sect-div2 p{
		width: 291px;
	}
/*2 секция*/
/*3 секция*/
	section:nth-of-type(3){
		margin-top: 140px;
		height: 578px;
		width: 1030px;
	}
	span{
		color: #FAC663;
		font-size: 43px;
	}
	ul{
		padding-left: 0;
	}
	li{
		display: flex;
		align-items: center;
		list-style: none;
		font-family: 'Lato Regular', sans-serif;
		margin: 0;
		height: 33px;
	}
	.sect3-div1{
		display: flex;
		align-items: center;
	}
	.sect3-div1>span{
		width: 36px;
		height: 36px;
	}
	.sect3-div1>img{
		z-index: -1;
	}
	.sect3-div2{
		display: flex;
		justify-content: center;
		flex-direction: column;
		box-sizing: border-box;
		width: 500px;
		height: 284px;
		box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
		border-radius: 8px;
		padding-left: 100px;
		margin-left: -55px;
	}
	.sect3-div2	button{
		display: flex;
		align-items: center;
		justify-content: space-around;
		font-size: 16px;
		font-family: 'Lato Regular', sans-serif;
		border: none;
		outline: none;
		border-radius: 25px;
		width: 206px;
		height: 50px;
		background: #FF7236;
		color: white;
	}

/*3 секция*/
/*4 секция*/
	section:nth-of-type(4){
		margin-top: 140px;
		hyphens: 380px;
	}
/*4 секция*/